body{
 background-image:url("./img/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family:sans-serif;
}
.App {
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}
.mydiv{
  display: flex;
  justify-content: space-around;
  margin: 50px 220px;
  /* box-shadow: 1px 1px 5px rgb(116, 80, 123); */
  padding: 30px;
  font-weight: bold;
  background-color: #a1c5dd;
  border-radius: 25%;

}
.gallery{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around ;
  
}
.item{
  width: 20%;
  margin: 5px;
  margin-bottom: 42px;
  
  

}
button{
  padding: 9px 95px;
  background: #750868;
  color: rgb(250, 246, 246);
  font-weight: bold;
  cursor: pointer;
}
img{
  height: 10%;
  width: 40px;
  border-radius: 35px;
  border: px solid #bcb8b8;
  border-radius: 14px;
 box-shadow: 5px 0px 5px 0px rgb(231, 163, 231); 

}
img:hover {
  transform: scaleX(-1);
}